body{
    overflow-x: hidden;
}
.card {
    margin-top: 5%;
    width: 470px;
    height: 400px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  h4{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 3%;
  }
  p{
    padding: 5px;
  }
  